*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    line-height: 1.6;
}  
header {
    /* background: #50b3a2; */
    color: #fff;
    /* padding: 20px 0; */
    text-align: center;
    /* margin-bottom: 20px; */
}


/* Universal */
.container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.btn{
    display: inline-block;
    background: #FD6E0A;
    color: #fff;
    padding: 18px 36px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}




/* Header */
/* Navigation */
nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    /* text-decoration: underline; */
}
section {
    /* margin-bottom: 20px; */
    /* background: #fff; */
    /* padding: 20px; */
    /* border-radius: 5px; */
}
section h2 {
    /* margin-top: 0; */
    /* color: #50b3a2; */
}   