*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
    line-height: 1.6;
    color: #474747;
}  

/* Google Fonts */
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Universal */
.container{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.btn{
    display: inline-block;
    background: #FD6E0A;
    color: #fff;
    padding: 18px 36px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    courser: pointer;
    font-size: 20px;
}
.btn a{
    color: #fff;
    text-decoration: none;
}
.btn:hover{
    background: #e65c00;
    color: #fff;
}

.main{
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; 
    background: FFF8F3;   
   
    }

nav {
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
#logo{
    font-size: 45px;
    font-weight: extra-bold;
    color: #000; 
    font-weight: 900;
}
#logo a{
    color: #000;    
    text-decoration: none;
}
#logo span{
    color: #FD6E0A;
}

/* Navigation */
nav a {
    color: #474747;
    margin: 0 15px;
    text-decoration: none;
    font-weight: regular;
    font-size: 20px;
}
nav a:hover {
    /* text-decoration: underline; */
}
nav .active {
    border-bottom: 2px solid #FD6E0A;
}   

/* Hero Section */
#hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}
.content-container {
    flex: 1;
}
.img-container {
    flex: 1;
}
.img-container img {
    width: 100%;
}